.*
.DS_Store
**/bin
*.iml
*.class
*.dll
*.ear
*.gz
*.jar
*.sublime-project
*.sublime-workspace
*.tgz
*.userprefs
*.war
*.zip
*passwords.txt*
*~
obj
runlocal*
runPost*
target*
tempBuild
sonar-project.properties
dependency-reduced-pom.xml
TestResult.xml
velocity.log

# User-specific files
*.suo
*.user
*.sln.docstates
*.v12
*.csproj
*.sln
